database:
  path: ops/local_db/freed.db

google:
  credentials_path: ops/local_db/credentials/google_oauth_credentials.json
  token_path: ops/local_db/credentials/token.json
  scopes:
    - https://www.googleapis.com/auth/gmail.readonly
    - https://www.googleapis.com/auth/gmail.modify
    - https://www.googleapis.com/auth/calendar.readonly

notion:
  token_path: ops/local_db/credentials/notion_token.txt
  databases:
    contacts: fd06740b-ea9f-401f-9083-ebebfb85653c
    companies: 796deadb-b5f0-4adc-ac06-28e94c90db0e
    action_items: 319adb01-222f-8059-bd33-000b029a2fdd
    meetings: 31fadb01-222f-80c0-acf7-000b401a5756
    agent_config: 322adb01-222f-8114-b1b0-cc8971f1b61a
    emails: f685a378-5a37-4517-9b0c-d2928be4af4d

gmail:
  accounts:
    - address: adam@freedsolutions.com
      source_label: Email - Freed Solutions
      routing_labels:
        - label: Primitiv/PRI_Outlook
          type: forwarded_outlook
        - label: Primitiv/PRI_Teams
          type: teams_notification
        - label: LinkedIn
          type: linkedin_notification
        - label: DMC/DMC_GMail
          type: standard_email
      ignore_labels:
        - Action Items
    - address: adamjfreed@gmail.com
      source_label: Email - Personal
      routing_labels: []
      ignore_labels: []

calendars:
  - account: adam@freedsolutions.com
    calendar_id: primary
    calendar_name: Adam - Business
    default_company: Freed Solutions
  - account: adamjfreed@gmail.com
    calendar_id: primary
    calendar_name: Adam - Personal
    default_company: Personal

adam:
  exclude_emails:
    - adam@freedsolutions.com
    - adam@primitivgroup.com
    - adamjfreed@gmail.com
    - freedsolutions@gmail.com
  generic_domains:
    - gmail.com
    - yahoo.com
    - outlook.com
    - hotmail.com
    - icloud.com
    - aol.com
    - protonmail.com
  notion_user_id: 30cd872b-594c-81b7-99dc-0002af0f255a
